@page "/"
@layout PublicLayout

<header class="main-header">Welcome!</header>

<div class="auth-container">
    <a class="auth-button" href="/Identity/Account/Login">Login</a>
    <a class="auth-button" href="/Identity/Account/Register">Sign up</a>
</div>