@page "/tags"
@inject TagService TagService

<PageTitle>Tags</PageTitle>

<div class="container">
    @foreach (var tag in tags) {
        <div class="task row justify-content-start mt-3">
            <div class="col-2 bg-light">
                <h4>#@tag.Name</h4>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger">
                    <span class="oi oi-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    }
</div>

@code {
    public List<Tag> tags = new List<Tag>();
    
    protected override async Task OnInitializedAsync() {
        tags = await TagService.GetTagsAsync();
    }
}