@page "/users"
@layout AdminLayout
@inject UserService _userService

<PageTitle>Users</PageTitle>

<div class="container">
    @foreach (var user in users) {
        <div class="task row justify-content-start mt-3">
            <div class="col-2 bg-info">
                <h4>@user.UserName</h4>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger" @onclick="@(() => Delete(user.Id))">
                    <span class="oi oi-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    }
</div>

@code {
    private List<User> users = new List<User>();

    protected override async Task OnInitializedAsync() {
        await UpdateView();
    }

    private async Task Delete(Guid userId) {
        await _userService.DeleteUserAsync(userId);
        await UpdateView();
    }

    private async Task UpdateView() {
        users = await _userService.GetUsersAsync();
    }
}
